@import 'src/assets/styles/tokens';

.Header {
  display: flex;
  gap: $padding;
  padding: $padding;
  align-items: center;
  position: sticky;
  background-color: $bg-primary-color;
  top: 0;
  height: 6rem;
  
  a {
    padding: 0;
  }

  img {
    width: 8rem;
  }

  nav {
    display: flex;
    gap: $padding;

    li {
      list-style: none;
      margin-left: $padding;
      
      a {
        font-size: $h5-font-size;
        text-decoration: none;
      }
    }
  }
}
