@import 'src/assets/styles/tokens';

.Button {
  background-color: $bg-secondary-color;
  color: $text-secondary-color;
  border-radius: $button-border-radius;
  border: none;
  padding: calc($padding / 2) $padding;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.icon,
  &.link-icon {
    background-color: $bg-primary-color;
    color: $text-primary-color;
    padding: 0;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      padding: calc($padding / 3);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }
  }
}
