<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email template</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Rubik', sans-serif; background-color: #f6f8fb; padding-bottom: 10px;">
    <div style="padding: 20px;">
        {% load static %}
        <img 
            src="https://stori-card-assets.s3.amazonaws.com/StoriLogo.png" 
            alt="Stori newsletter"
            style="width: 155px; height: 48px;"
        >
        
    </div>
    <div style="background-color: #ffffff; margin: 10px; padding: 15px;">
        {% autoescape off %}
            {{ content }}
        {% endautoescape %}
    </div>
    <div style="text-align: center;">
        <hr />
        <p style="text-align: center;">
            2023 Julieth Gómez - Storicard <br /><br />
        </p>

        <p style="text-align: center;">
            <u>
                <a href="http://localhost:3000/recipients/unsubscribe?token={{token}}">Unsubscribe</a>
            </u>
        </p>
    </div>
</body>
</html>