@import "src/assets/styles/tokens";

.RecipientUnsubscribe, .RecipientUnsubscribeSuccess {
  width: 50%;
  max-width: 100%;
  min-width: 20rem;

  p {
    padding-top: $padding;
    padding-bottom: calc($padding / 2);
    margin-bottom: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: $padding;
  }
}
