@import 'src/assets/styles/tokens';

.RecipientList {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding;

    .actions {
      display: flex;
      gap: $margin;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: $margin 0;

    li {
      padding: $padding;
      display: grid;
      justify-content: space-between;
      align-items: center;
      grid-template-columns: 1fr 15rem 2rem;

      &:nth-child(odd) {
        background-color: $bg-primary-color;
        border-radius: 10px;
      }

      .categories {
        max-width: 14.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: $margin;

        .Button {
          justify-self: center;
        }
      }
    }

    form {
      display: flex;
      align-items: flex-end;
      gap: $margin;
      flex: 1;

      .Input {
        width: 15rem;
      }
    }
  }
}
