@import 'src/assets/styles/tokens';

.RecipientList {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding;

    .actions {
      display: flex;
      gap: $margin;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: $margin 0;

    li {
      padding: $padding;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:nth-child(odd) {
        background-color: $bg-primary-color;
        border-radius: 10px;
      }
    }

    form {
      display: flex;
      align-items: flex-end;
      gap: $margin;
      flex: 1;

      .Input {
        width: 15rem;
      }
    }
  }
}
