@import "src/assets/styles/tokens";

.CreateNewsletter {
  display: flex;
  flex-direction: column;
  gap: calc($margin / 2);

  .inputs-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc($margin / 2);
    margin-bottom: $margin;

    .Input, .Select {
      flex: 1;
    }
  }

  .Button {
    align-self: center;
  }
}