$text-primary-color: #384967;
$bg-primary-color: #f6f8fb;
$border-primary-color: #84acf3;
$text-secondary-color: #ffffff;
$bg-secondary-color: #fe507c;
$border-secondary-color: #e5e7eb;
$hover-secondary-color: #e3e3e3;
$text-tertiary-color: #ffffff;
$bg-tertiary-color: #00c7b1;
